<div class="container">
  <div class="questions-list">
    <div class="page-header">
      <h1>質問一覧</h1>
      <%= link_to new_question_path, class: 'action-button' do %>
        <i class="fas fa-plus"></i>
        <span>新しい質問をする</span>
      <% end %>
    </div>

    <% if @questions.any? %>
      <% @questions.each do |question| %>
        <div class="question-item">
          <div class="question-content">
            <h3>
              <%= link_to question_path(question), class: 'question-link' do %>
                <i class="fas fa-question-circle"></i>
                <span><%= question.content %></span>
              <% end %>
            </h3>
            <div class="question-meta">
              <div class="meta-info">
                <span class="meta-item">
                  <i class="fas fa-user"></i>
                  <span>投稿者: <%= question.user.email %></span>
                </span>
                <span class="meta-item">
                  <i class="far fa-clock"></i>
                  <span>投稿日時: <%= l question.created_at, format: :long %></span>
                </span>
              </div>
            </div>
          </div>

          <% if question.answer_text.present? %>
            <div class="answer-preview">
              <i class="fas fa-comment-dots"></i>
              <p><%= truncate(question.answer_text, length: 100) %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="no-questions">
        <i class="fas fa-inbox"></i>
        <p>まだ質問がありません。</p>
      </div>
    <% end %>
  </div>
</div>