<%# app/views/questions/index.html.erb (または関連するメインビュー) %>
<div class="container">
  <div class="sidebar">
    <h2 class="sidebar-title">quiz-study アプリ</h2>
    <% if user_signed_in? %>
      <p>ようこそ：<%= current_user.email %></p>
      <%= link_to 'マイページ', user_path(current_user), class: 'button' %>
      <%= link_to 'LINE連携', new_line_account_path, class: 'button' %>
      <%# <%= link_to '回答履歴', questions_path, class: 'button' %> <%# 現在のページが回答履歴なら不要 %>
      <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'ログアウトしますか？' }, class: 'button' %>
    <% else %>
      <%= link_to '新規登録', new_user_registration_path, class: 'button' %>
      <%= link_to 'ログイン', new_user_session_path, class: 'button' %>
    <% end %>
  </div>

  <%# メインコンテンツ %>
  <div class="main-content">
    <div class="chat-container">
      <!-- ▼ 回答一覧エリア -->
      <div class="chat-answers" id="questions">
        <% @questions.each do |question| %>
          <%= render partial: "questions/question", locals: { question: question } %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- ▼ 質問フォームエリア -->
<div class="chat-form">
  <%= render partial: "questions/form", locals: { question: @question } %>
</div>

<%# ページ下部の "新しい質問をする" ボタン (これは new アクションへのリンクなのでそのままで良いでしょう) %>
<%# <%= link_to '新しい質問をする', new_question_path, class: 'button' %> 