<!DOCTYPE html>
<html>
  <head>
    <title>QuizStudy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p style="text-align:right; margin: 10px;">ログイン中：<%= current_user.email %></p>
    <% else %>
      <p style="text-align:right; margin: 10px;">ログインしていません</p>
    <% end %>

    <%= yield %>
  </body>
</html>
